.sort-by-name-age,
.sort-by-asc-desc {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.sort-by-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 1em;

    input[type="radio"] {
        accent-color: #000;
    }
}
