.search-by-container {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  input[type='text'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-icon {
    width: 28px;
    height: 28px;
    right: 35px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
  }
}
