.home-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  min-width: 1200px;
  justify-content: center;
  margin-top: 50px;

  @media (max-width: 1200px) {
    min-width: 778px;
  }

  @media (max-width: 992px) {
    min-width: 576px;
  }

  @media (max-width: 768px) {
    min-width: 300px;
  }

  .kitten-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-top: 16px;
    width: 80%;
    margin: 0 auto;
  }

  .button-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    padding: 1em;
  }

  .show-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 130px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  .arrow-down-icon,
  .plus-icon {
    width: 16px;
    height: 16px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
  }

  .search-add-new-wrapper {
    display: inline-flex;
    gap: 20px;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 80%;
      column-gap: 10px;
    }

    .add-new-wrapper {
      .add-new-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 120px;
        cursor: pointer;
      }
    }
  }
}
