.search-by-wrapper {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 300px;

  input[type='text'] {
    width: -webkit-fill-available;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding-left: 32px;
    font-size: 14px;
  }

  input[type='text']:focus {
    outline-color: $primary-400;
  }

  .search-icon {
    width: 20px;
    height: 20px;
    left: 26px;
    top: 10px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
  }
}
