.carousel {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;

  .carousel-track-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;

    .carousel-slide {
      flex: 0 0 33.333%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition:
        opacity 0.5s ease-in-out,
        transform 1.2s ease-in-out;
      cursor: pointer;
      overflow: hidden;
      opacity: 0.5;

      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        transition: transform 1s ease-in-out;
      }

      .kitten-name {
        position: absolute;
        font-size: 68px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(68, 61, 57, 0.5);
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        bottom: 30px;

        @media (max-width: 1200px) {
          font-size: 64px;
        }

        @media (max-width: 992px) {
          font-size: 48px;
        }

        @media (max-width: 768px) {
          font-size: 32px;
        }

        @media (max-width: 576px) {
          font-size: 18px;
        }
      }

      &.active-slide {
        opacity: 1;
        z-index: 2;
      }

      &.active-slide:hover {
        transform: scale(1.2);
      }

      &.prev-slide,
      &.next-slide {
        opacity: 0.5;
        transform: scale(0.9);
      }
    }
  }

  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      cursor: pointer;
      border: none;
      padding: 0;
      background-color: $primary-400;
    }

    button:hover {
      background-color: $primary-200;
    }

    .arrow-icon {
      width: 32px;
      height: 32px;
      color: $primary-500;
    }

    .arrow-icon:hover {
      color: $primary-600;
    }
  }
}
